<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Ultimus Interview Test - Frontend</title>

  <!-- Link to local Bootstrap CSS -->
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" />

  <script src="libs/angular/js/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
</head>

<body ng-app="app">
  <div class="container" ng-controller="MainController">
    <form>
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="form-group">
            <label for="selectOption">Choose an option</label>
            <select id="selectOption" class="form-control" ng-model="selectedOption" ng-change="selectOptionChange()">
              <option value="" disabled selected>Select an option</option>
              <option value="customer">Customer</option>
              <option value="product">Product</option>
              <option value="customerCount">
                Customers number by address type and states
              </option>
              <option value="topTenSellingProducts">
                TOP 10 best-selling products
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row" ng-show="selectedOption == 'customer'" ng-controller="CustomerController">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Type to seach by first & last name"
                ng-model="CustomerNameSearch" ng-change="customerSearch()" />
            </div>
            <div class="col-md-6">
              <select id="addressTypeSearch" class="form-control" placeholder="Type to search by name"
                ng-model="addressTypeSearchOption" ng-options="address for address in customerAddresses"
                ng-change="addressTypeChange()">
                <option value="">Select Address Type</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table table-bordered table-hover table-sm table-striped mt-4">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address Type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="customer in customers">
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.companyName }}</td>
                <td>{{ customer.emailAddress }}</td>
                <td>{{ customer.phone }}</td>
                <td>
                  {{customer.addressType}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" ng-show="selectedOption === 'product'" ng-controller="ProductController">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="ProductNameSearch" ng-change="productSearch()" />
            </div>
            <div class="col-md-6">
              <select id="productCategorySearch" class="form-control" ng-model="productCategorySearchOption"
                ng-options="category.name for category in productCategories" ng-change="productCategoryChange()">
                <option value="" selected>Select Option</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <table class="table table-bordered table-hover table-sm table-striped mt-4">
            <thead>
              <tr>
                <th>Name</th>
                <th>Product Number</th>
                <th>List Price</th>
                <th>Category</th>
                <th>Sale End Date</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in products">
                <td>{{ product.name }}</td>
                <td>{{ product.productNumber }}</td>
                <td>{{ product.listPrice }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.sellEndDate | date:'yyyy-MM-dd' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" ng-controller="CustomerCountController" ng-show="selectedOption == 'customerCount'">
        <div class="col-md-12">
          <table class="table table-bordered table-hover table-sm table-striped mt-4">
            <thead>
              <tr>
                <th>Address Type</th>
                <th>State/Province</th>
                <th>Total Count</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="customer in customersCount">
                <td>{{ customer.addressType }}</td>
                <td>{{ customer.state }}</td>
                <td>{{ customer.totalCount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" ng-controller="MostSoldProductController" ng-show="selectedOption == 'topTenSellingProducts'">
        <div class="col-md-12">
          <table class="table table-bordered table-hover table-sm table-striped mt-4">
            <thead>
              <tr>
                <th>Name</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in topTenSellingProducts">
                <td>{{ product.category }}</td>
                <td>{{ product.amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    var app = angular.module("app", []);

    app.controller("MainController", function ($scope, $http) {
      setTimeout(function () {
        $scope.getToken();
      }, 0);
      $scope.getToken = function () {
        $http.get(`http://localhost:5292/api/auth/token`).then(
          function (response) {
            var response = response.data;
            if (response.token) {
              localStorage.setItem('token', response.token);
            }
          },
          function (error) {
            console.error(`Error fetching auth/token data`, error);
            alert(`There was an error auth/token data.`);
          }
        );
      };
    });
    app.controller("CustomerController", function ($scope, $http) {
      $scope.allCustomers = [];
      $scope.customers = [];
      $scope.CustomerNameSearch = null;
      $scope.customerAddresses = [];

      $scope.$watch(
        "selectedOption",
        function (selectedValue, previousValue) {
          if (selectedValue === "customer") {
            getCustomers($scope, $http);
            getAddressTypes($scope, $http);
          }
        }
      );
      $scope.selectOptionChange = function () {
        if (selectedOption === "customer") {
          getCustomers($scope, $http);
          getAddressTypes($scope, $http);
        }
      };
      $scope.addressTypeChange = function () {
        console.log($scope.addressTypeSearchOption);
        $scope.customers = $scope.allCustomers.filter((item) =>
          item.addressType == ($scope.addressTypeSearchOption == null ? item.addressType : $scope.addressTypeSearchOption  )        
        );
      };
      $scope.customerSearch = function () {
        $scope.customers = $scope.allCustomers.filter(
          (row) =>
            row.firstName
              .toLowerCase()
              .match($scope.CustomerNameSearch.toLowerCase()) ||
            row.lastName
              .toLowerCase()
              .match($scope.CustomerNameSearch.toLowerCase())
        );
      };
    });

    app.controller("ProductController", function ($scope, $http) {
      $scope.products = [];
      $scope.allProducts = [];
      $scope.$watch(
        "selectedOption",
        function (selectedValue, previousValue) {
          if (selectedValue === "product") {
            getProducts($scope, $http);
            getProductCategories($scope, $http);
          }
        }
      );
      $scope.productSearch = function () {
        $scope.products = $scope.allProducts.filter((filter) =>
          filter.name
            .toLowerCase()
            .match($scope.ProductNameSearch.toLowerCase())
        );
      };
      $scope.productCategoryChange = function () {
        if ($scope.productCategorySearchOption) {
          $scope.products = $scope.allProducts.filter(
            (filter) =>
              filter.productCategoryId ==
              $scope.productCategorySearchOption.productCategoryId
          );
        } else {
          $scope.products = $scope.allProducts;
        }
      };
    });

    app.controller("CustomerCountController", function ($scope, $http) {
      $scope.customersCount = [];

      $scope.$watch(
        "selectedOption",
        function (selectedValue, previousValue) {
          if (selectedValue === "customerCount") {
            getCustomersCount($scope, $http);
          }
        }
      );
    });

    app.controller("MostSoldProductController", function ($scope, $http) {
      $scope.topTenSellingProducts = [];

      $scope.$watch(
        "selectedOption",
        function (selectedValue, previousValue) {
          if (selectedValue === "topTenSellingProducts") {
            getTopTenSoldProducts($scope, $http);
          }
        }
      );
    });
    function getCustomers($scope = null, $http = null) {
      console.log("Fetching customer data ...");
      $http.get("http://localhost:5292/api/customers", {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }).then(
        function (response) {
          var response = response.data;
          if (response.success) {
            $scope.allCustomers = response.data;
            $scope.customers = response.data;
          } else {
            console.error(
              "An error occured while processing your request, try again"
            );
          }
          console.log("Customer data request completed ...");
        },
        function (error) {
          if (error.status == 401) {
            alert(`You're unauthorized`);
          }
          else {
            console.error("Error fetching customer data:", error);
            alert("There was an error fetching customer data.");
          }
        }
      );
    }

    function getAddressTypes($scope = null, $http = null) {
      console.log("Fetching address types data ...");
      $http.get("http://localhost:5292/api/customer-addresses", {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }).then(
        function (response) {
          var response = response.data;
          if (response.success) {
            $scope.customerAddresses = response.data;
          } else {
            console.error(
              "An error occured while processing your request, try again"
            );
          }
          console.log("Address Types data request completed ...");
        },
        function (error) {
          if (error.status == 401) {
            alert(`You're unauthorized`);
          }
          else {
            console.error("Error fetching address type data:", error);
            alert("There was an error fetching product data.");
          }
        }
      );
    }
    function getCustomersCount($scope = null, $http = null) {
      console.log("Fetching customer count data ...");
      $http.get("http://localhost:5292/api/customers/count", {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }).then(
        function (response) {
          var response = response.data;
          if (response.success) {
            $scope.customersCount = response.data;
          } else {
            console.error(
              "An error occured while processing your request, try again"
            );
          }
          console.log("Customer count data request completed ...");
        },
        function (error) {
          if (error.status == 401) {
            alert(`You're unauthorized`);
          }
          else {
            console.error("Error fetching customer count data:", error);
            alert("There was an error fetching customer count data.");
          }
        }
      );
    }
    //#region Product
    function getProducts($scope = null, $http = null) {
      console.log("Fetching product data ...");
      $http.get("http://localhost:5292/api/products", {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }).then(
        function (response) {
          var response = response.data;
          if (response.success) {
            $scope.products = response.data;
            $scope.allProducts = response.data;
          } else {
            console.error(
              "An error occured while processing your request, try again"
            );
          }
          console.log("Product data request completed ...");
        },
        function (error) {
          if (error.status == 401) {
            alert(`You're unauthorized`);
          }
          else {
            console.error("Error fetching product data:", error);
            alert("There was an error fetching product data.");
          }
        }
      );
    }
    function getProductCategories($scope = null, $http = null) {
      console.log("Fetching address types data ...");
      $http.get("http://localhost:5292/api/product-categories", {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }).then(
        function (response) {
          var response = response.data;
          if (response.success) {
            $scope.productCategories = response.data;
          } else {
            console.error(
              "An error occured while processing your request, try again"
            );
          }
          console.log("Address Types data request completed ...");
        },
        function (error) {
          if (error.status == 401) {
            alert(`You're unauthorized`);
          }
          else {
            console.error("Error fetching address type data:", error);
            alert("There was an error fetching product data.");
          }
        }
      );
    }
    function getTopTenSoldProducts($scope = null, $http = null) {
      $http.get("http://localhost:5292/api/products/most-sold", {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }).then(
        function (response) {
          var response = response.data;
          if (response.success) {
            $scope.topTenSellingProducts = response.data;
          } else {
            console.error(
              "An error occured while processing your request, try again"
            );
          }
        },
        function (error) {
          if (error.status == 401) {
            alert(`You're unauthorized`);
          }
          else {
            console.error("Error fetching address type data:", error);
            alert("There was an error fetching product data.");
          }
        }
      );
    }
    //#endregion      
  </script>
</body>

</html>